snippet doc
	@doc """
	${1}
	"""
snippet mdoc
	@moduledoc """
	${1}
	"""
snippet def
	def ${1:name} do
		${2}
	end
snippet defp
	defp ${1:name} do
		${2}
	end
snippet defm
	defmodule ${1:name} do
		${2}
	end
snippet test
	test "${1:testname}" do
		${2}
	end
snippet do
	do
		${1}
	end
