snippet rc
	<% ${1} -%>
snippet rce
	<%= ${1} %>${2}
snippet div
	<div class="${1:name}">
		${2}
	</div>
snippet r
	<br`Close()[1:]`>
snippet script
	<script>
		$(document).ready(function() {
			${1}
		});
	</script>
snippet "
	"${1}"${2}
snippet '
	'${1}'${2}
snippet (
	(${1})${2}
snippet [
	[${1}]${2}
